%h2 Hi #{@user.full_name},
%p
  You are successfully registered to Album App. Album App provides you to upload your photos in particular albums. More feature coming soon.

%h3
  Login to access the application:
%h3
  = link_to "Album App", root_url