.alert-success
  = flash[:notice]
%h3.red_color
  = image_tag(current_user.profile_photo('square'), :height => '50px',:width => '50px') if current_user.image
  Hi #{current_user.full_name}
%h2 All Albums
%table.table
  = render :partial =>'albums'