<h1><%= @album.name %></h1>
<table class='table table-striped'>
  <% @album.pictures.each do |picture| %>
  <tr>
  	<td>
      <%= image_tag picture.avatar.url(:thumb) %><br/>  
    </td>
    <td class='txt_middle'>
      <% unless picture.tag.blank? %>
        <span class='gray_color'>People Tagged In:</span> <%= picture.tag.name %>
      <% end %>
    </td>  
  <% end %>
</table>  