%h1= @album.name
%table.table.table-striped
  - @album.pictures.each do |picture|
    %tr.picture
      %td        
        = image_tag picture.avatar.url(:medium)
        %br/
      %td.txt_middle
        - unless picture.tag.blank?
          %span.gray_color People Tagged In:
          = picture.tag.name
